hass-backup
config/tts
config/secrets.yaml
config/certbot 
config/.cloud 
config/deps 
config/frontend.yaml 
config/fullchain.pem 
config/.HA_VERSION 
config/home-assistant.log 
config/home-assistant_v2.db 
config/.lesshst 
config/.matrix.conf 
config/options.xml 
config/OZW_Log.txt
config/privkey.pem
config/pyozw.sqlite
config/.storage
config/.viminfo
config/zwave_device_config.yaml
config/zwcfg_0xc750e465.xml
config/zwscene.xml
